:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --aditional-text-color: #ffffff;
  --accent-color: #2196f3;
  --section-background-color: #f5f4fa;

  --font-main: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
}

body {
  width: 1600px;
  height: 2924px;
}

main {
  font-family: var(--font-main);
}

ul {
  list-style: none;
  text-decoration-line: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration-line: none;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

p{
  margin: 0px;
}
/* top line, header */

.header-top {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.top-line-container {
  display: flex;
  align-items: center;

  width: 1170px;
  height: 80px;

  margin-left: auto;
  margin-right: auto;

}

.web-studio-link {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;

}

.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .site-nav-item + .site-nav-item {
  margin-left: 50px;
}

/* -----ещё можно было сделать так:-----
.site-nav .site-nav-item:not(:last-child) {
  margin-right: 50px;
}
-----или так:-----
.site-nav-item {
margin-right: 50px;
}
.site-nav .site-nav-item:last-child {
  margin-right: 0px;
}
*/

.site-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration-line: none;

}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link-current {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-color);
  text-decoration-line: none;
}

.address-container {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}

.top-line-address {
  display: flex;
}
.top-line-address .address-item + .address-item {
  margin-left: 50px;
}

.top-line-address .link {
  color: var(--primary-text-color);
  text-decoration-line: none;
  font-style: normal;
}
.top-line-address .link:hover,
.top-line-address .link:focus {
  color: var(--accent-color);
}

/* main */
/*section order*/

.general {
  background-color: lavender;
  margin-bottom: 94px;
}

.order-container {
  width: 1170px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  display: block;

  padding-top: 200px;
  padding-bottom: 200px;


  align-items: center;
  text-align: center;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--aditional-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-button {
  display: inline-block;

  padding: 10px 32px;
  border-radius: 4px; 

  color: var(--aditional-text-color);
  background-color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
}

.order-button:hover,
.order-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*section features*/

.features-container {
  width: 1170px;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 94px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0px;
  margin-bottom: 30px;
}

.features-list .feachers-items + .feachers-items {
  margin-left: 30px;
}

.feachers-items {
  width: 270px;

}

.features-title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  margin: 0px;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  /* or 171% */
}

/*What we do*/

.page-title {
  margin-top: 0px;
  margin-bottom: 50px;

  text-align: center;
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.doings-container {

  width: 1170px;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 94px;
}

.doings-list {
  margin: 0px;
  display: flex;
}

.doings-list .doings-card + .doings-card {
  margin-left: 30px;
}

.doings-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*Our team*/

.team {
  width: 1600px;
  height: 702px;
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.team-container {
  margin-left: auto;
  margin-right: auto;

  width: 1170px;
  align-items: center;

  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.team-list {
  margin: 0px;
  display: flex;
  align-items: center;
}

.emploee-card {
  background-color: var(--aditional-text-color);
  border-radius: 0px 0px 4px 4px;
}

.emploee-card :hover,
.emploee-card :focus {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-list .emploee-card + .emploee-card {
  margin-left: 30px;
}

.emploee-image {
  margin-top: 0px;
  margin-bottom: 30px;

  display: flex;
}

.emploee-name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  text-align: center;
}

.emploee-position {
  margin-top: 0px;
  margin-bottom: 16px;

  color: var(--primary-text-color);
  font-weight: normal;
  text-align: center;
}

.emploee-social-link {
  margin-top: 0px;
  margin-bottom: 24px;

  text-decoration-line: none;
  color: var(--accent-color);
}

/*Our customers*/

.customers-container {
  margin-top: 0px;
  margin-bottom: 94px;

  width: 1170px;
}

.customers-list {
  margin: 0px;

  display: flex;
  align-items: center;
}

.customers-list .customers-item + .customers-item {
  margin-left: 30px;
}
/*Footer*/
/*Address*/

footer {
  background-color: #2F303A;
}

.web-footer {
  color: var(--accent-color);
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.studio-footer {
  color: var(--aditional-text-color);
font-family: var(--logo-font);
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.footer-address {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
}
.location {
  color: var(--aditional-text-color);
}
.end-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration-line: none;
}

.join {
  color: var(--aditional-text-color);
  font-family: var(--font-main);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-link {
text-decoration-line: none;
color: var(--accent-color);
/*
  visibility: hidden;
*/
}
.developers {
  font-family: var(--font-main);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}


/*PORTFOLIO*/

button {
  border: none;
  background: none;
  outline: none;
}

.portfolio-container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-list {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-card {
  /* width: calc((100% - 60px) / 3); */

  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.portfolio-card:nth-child(3n + 1) {
  margin-left: 0px;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-card-info {
  text-decoration-line: none;
}

.portfolio-card:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.portfolio-subtitle {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
}

.portfolio-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
}

